root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 4
indent_style = space
tab_width = 4
trim_trailing_whitespace = true

[*.{blend,gif,ico,jpg,png,pptx,tss,uss,uxml,xsd}]
charset = unset
end_of_line = unset
insert_final_newline = unset
indent_size = unset
indent_style = unset
tab_width = unset
trim_trailing_whitespace = unset

[/Assets/VrmDowngrader/Fonts/Noto_Sans_JP/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
indent_size = unset
indent_style = unset
tab_width = unset
trim_trailing_whitespace = unset

[*.cs]
end_of_line = crlf

# -----------------------------------------------------
# CSharpierとの互換設定ここから
# まだ不完全なので、issueを見ながら随時追記します。
# https://github.com/belav/csharpier/issues/781

# C# formatting settings - New-line options
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/csharp-formatting-options#new-line-options
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true

# ここは正しくマッチする設定が無いので :none を付けて無視する
# https://github.com/belav/csharpier/issues/781#issuecomment-1615065350
# csharp_new_line_before_open_brace = all

csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_between_query_expression_clauses = true

# C# formatting settings - Indentation options
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/csharp-formatting-options#indentation-options
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = no_change
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents_when_block = false

# C# formatting settings - Spacing options
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/csharp-formatting-options#spacing-options
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_parentheses = none
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_around_declaration_statements = false
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = false

# C# formatting settings - Wrap options
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/csharp-formatting-options#wrap-options
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = false

# undocumented
dotnet_style_operator_placement_when_wrapping = beginning_of_line

# ReSharper properties
resharper_csharp_empty_block_style = together_same_line

# CSharpierとの互換設定ここまで
# -----------------------------------------------------

# 以下、個人的な設定

# ReSharper properties
resharper_braces_redundant = false

# ReSharper inspection severities
resharper_arguments_style_named_expression_highlighting = none
resharper_remove_redundant_braces_highlighting = none

# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0011
csharp_prefer_braces = true

[*.asmdef]
end_of_line = crlf
insert_final_newline = unset

[*.bat]
end_of_line = crlf

[*.ps1]
end_of_line = crlf

[*.md]
indent_size = 2

[*.sh]
indent_size = 2

[*.json]
indent_size = 2
insert_final_newline = unset

[*.{yml,yaml}]
indent_size = 2

[*.xml]
indent_size = 2

[*.html]
indent_size = 2

[/.gitmodules]
indent_style = tab

[/LICENSE]
indent_size = 1

[*.{asset,meta,unity}]
indent_size = unset
trim_trailing_whitespace = unset
